<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Components</title>
</head>
<body>

<header>
    <div class="heading">
    <h2>ARDUINO COMPONENTS</h2>
    </div>
    <nav>
        <ul>
            <li><a href="#home-section">Home</a></li>
            <li><a href="/components/components.html">Components</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#tutorials-section">Tutorials</a></li>
            <li><a href="#contact-section">Contact Us</a></li>
        </ul>
    </nav>
</header>


  <!-- home section  -->

  <section class="home" id="home-section">
    <div class="bg">
      <img src="/assets/background1.jpg" alt="" srcset="">
    </div>
    <div class="home-container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. A impedit harum, hic expedita natus accusantium! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi distinctio nostrum tempore! Nulla cupiditate doloribus provident aut iure sequi vel.</p>
    <a href="#" class="btn">Get Started</a>
    </div>
  </section>

  <!-- component session  -->
  <section class="components" id="components-section">
    <div class="components-title">
      <h2>Components</h2>
    </div>
    <div class="fighters-galary">

      <!-- component1  -->
      <div class="fighter-container">
          <div class="image">
          <img src="/assets/boards/uno.jpeg" alt="" srcset="">
          <h2 align="center">Arduino Uno</h2>
          <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup1"></i>
      </div>



          <!-- popup1 -->
      <div class="fighter-content" id="content1">
        <div class="component-title">
          <h1>Arduino Uno</h1>
          <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup1"></i>
        </div>
        <div class="component-image">
          <img src="/assets/boards/uno.jpeg" alt="" srcset="">
        </div>
        <div class="component-content">
          <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
        </div>
      </div>
    </div>
        
        
      <!-- component2  -->
      <div class="fighter-container">
          <div class="image">
              <img src="/assets/servomotor.jpg" alt="" srcset="">
          <h2 align="center">Servo Motor</h2>
              <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup2"></i>
      </div>
        
        
      <!-- popup2 -->
      <div class="fighter-content" id="content2">
            <div class="component-title">
                <h1>Servo Motor</h1>
                <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup2"></i>
            </div>
            <div class="component-image">
          <img src="/assets/servomotor.jpg" alt="" srcset="">
            </div>
            <div class="component-content">
              <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
            </div>
          </div>
      </div>
        
      <!-- component3  -->
      <div class="fighter-container">
          <div class="image">
              <img src="/assets/sensors/infrared.jpeg" alt="" srcset="">
          <h2 align="center">Infrared Sensor</h2>
              <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup3"></i>
          </div>
        
        
          <!-- popup3 -->
          <div class="fighter-content" id="content3">
            <div class="component-title">
                <h1>Infrared Sensor</h1>
                <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup3"></i>
            </div>
            <div class="component-image">
          <img src="/assets/sensors/infrared.jpeg" alt="" srcset="">
            </div>
            <div class="component-content">
              <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
            </div>
          </div>
      </div>
        
      <!-- component4  -->
      <div class="fighter-container">
          <div class="image">
              <img src="/assets/sensors/ultrasonic.jpeg" alt="" srcset="">
          <h2 align="center">Ultrasonic Sensor</h2>
              <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup4"></i>
      </div>
        
        
          <!-- popup 4 -->
      <div class="fighter-content" id="content4">
        <div class="component-title">
            <h1>Ultrasonic Sensor</h1>
            <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup4"></i>
        </div>
        <div class="component-image">
      <img src="/assets/sensors/ultrasonic.jpeg" alt="" srcset="">
        </div>
        <div class="component-content">
          <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
        </div>
      </div>  
      </div>


            <!-- component 5  -->
            <div class="fighter-container">
              <div class="image">
              <img src="/assets/potentiometer.jpg" alt="" srcset="">
              <h2 align="center">Potentiometer</h2>
              <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup5"></i>
          </div>
    
    
    
              <!-- popup 5 -->
          <div class="fighter-content" id="content5">
            <div class="component-title">
              <h1>Potentiometer</h1>
              <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup5"></i>
            </div>
            <div class="component-image">
              <img src="/assets/potentiometer.jpg" alt="" srcset="">
            </div>
            <div class="component-content">
              <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
            </div>
          </div>
        </div>



              <!-- component 6  -->
      <div class="fighter-container">
        <div class="image">
        <img src="/assets/lcd.jpg" alt="" srcset="">
        <h2 align="center">LCD Display</h2>
        <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup6"></i>
    </div>



        <!-- popup 6-->
    <div class="fighter-content" id="content6">
      <div class="component-title">
        <h1>LCD Display</h1>
        <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup6"></i>
      </div>
      <div class="component-image">
        <img src="/assets/lcd.jpg" alt="" srcset="">
      </div>
      <div class="component-content">
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
      </div>
    </div>
  </div>



        <!-- component 7  -->
        <div class="fighter-container">
          <div class="image">
          <img src="/assets/breadboard.jpg" alt="" srcset="">
          <h2 align="center">Breadboard</h2>
          <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup7"></i>
      </div>



          <!-- popup 7 -->
      <div class="fighter-content" id="content7">
        <div class="component-title">
          <h1>Breadboard</h1>
          <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup7"></i>
        </div>
        <div class="component-image">
          <img src="/assets/breadboard.jpg" alt="" srcset="">
        </div>
        <div class="component-content">
          <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
        </div>
      </div>
    </div>




          <!-- component 8  -->
          <div class="fighter-container">
            <div class="image">
            <img src="/assets/sound output/piezobuzzer.jpeg" alt="" srcset="">
            <h2 align="center">Piezo Buzzer</h2>
            <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup8"></i>
        </div>
  
  
  
            <!-- popup 8 -->
        <div class="fighter-content" id="content8">
          <div class="component-title">
            <h1>Piezo Buzzer</h1>
            <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup8"></i>
          </div>
          <div class="component-image">
            <img src="/assets/sound output/piezobuzzer.jpeg" alt="" srcset="">
          </div>
          <div class="component-content">
            <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
          </div>
        </div>
      </div>




            <!-- component 9 -->
            <div class="fighter-container">
              <div class="image">
              <img src="/assets/switches/pushbutton.jpeg" alt="" srcset="">
              <h2 align="center">Push Button</h2>
              <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup9"></i>
          </div>
    
    
    
              <!-- popup 9 -->
          <div class="fighter-content" id="content9">
            <div class="component-title">
              <h1>Push Button</h1>
              <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup9"></i>
            </div>
            <div class="component-image">
              <img src="/assets/switches/pushbutton.jpeg" alt="" srcset="">
            </div>
            <div class="component-content">
              <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
            </div>
          </div>
        </div>




              <!-- component 10  -->
      <div class="fighter-container">
        <div class="image">
        <img src="/assets/wirelesscommunication/bluetoothmod.jpg" alt="" srcset="">
        <h2 align="center">Bluetooth Module</h2>
        <i style="color: black;font-size: 25px;" class="bi bi-chevron-down" id="openPopup10"></i>
    </div>



        <!-- popup 10 -->
    <div class="fighter-content" id="content10">
      <div class="component-title">
        <h1>Bluetooth Module</h1>
        <i style="font-size: 30px;color: black;" class="bi bi-x" id="closePopup10"></i>
      </div>
      <div class="component-image">
        <img src="/assets/wirelesscommunication/bluetoothmod.jpg" alt="" srcset="">
      </div>
      <div class="component-content">
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque porro omnis alias non consequatur. Culpa officiis quod deserunt minus laudantium unde consequuntur id tenetur, iusto magnam cum, eum explicabo autem. Accusantium excepturi aliquam ratione, fugit sit et. Ex officia vitae exercitationem, ab corporis earum id cupiditate ducimus dicta quasi? Esse quidem expedita officiis architecto reiciendis minima amet incidunt deleniti quas delectus temporibus, consectetur voluptate aut. Suscipit repellendus voluptates sequi, ipsa vel voluptate reiciendis blanditiis fuga quidem praesentium, voluptatibus dolores reprehenderit doloribus optio officia, iste eaque corrupti. At illum quidem, neque adipisci ex nulla deserunt ipsa tempora qui voluptatum sunt laboriosam!</h4>
      </div>
    </div>
  </div>







    </div> 
  </section>

    <!-- footer section  -->

    <footer id="foot" style="align-items: center;z-index: 2;">
      <div class="footer-container">
        <div class="footer-content">
          <p>Munazza &#169; 2023</p>
        </div>
        <div class="social-media">
          <a href=""><i class="fa fa-linkedin"></i></a>
          <a href="http://wa.me/+918197458962"><i class="fa fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/_.sh_eh_za_di._/"><i class="fa fa-instagram"></i></a>
          <a href="http://github.com/munazzabegam"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="#home-section">Home</a></li>
            <li><a href="#components-section">Components</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#tutorials-section">Tutorials</a></li>
            <li><a href="#contact-section">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </footer>



          <script src="../script.js"></script>
</body>
</html>